* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "ROBOTO", sans-serif;
}

.sobre{
    display: flex !important; 
    align-items: center;
    flex-direction: column;
    width: 52vw;
    margin-right: 70px;
} 
.sobre2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav,
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #1e1f26;
    text-align: center;
    padding: 0 2em;

}

.nav h1,
.slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.3rem;
    color: #03dac6;
    transition: all 0.3s ease;
    z-index: 4;
}

h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #3002ff;

}

.slider h2 {
    font-size: 20px;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;  
    margin-bottom: 40px;

}

h3.span {
    font-size: 2vw;
    letter-spacing: 0.7em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
}

span:hover {
    color: #3002ff;
    font-weight: 500;
    font-size: 2.2vw;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border-radius: 7px;
    color: white;
    border: 2px solid #31266e;
    width: 140px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    animation: button 1s;
}

@keyframes button {

    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

}

.nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: #1e1f26;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
    position: fixed;
    top: 0;
}

.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #03dac6;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2vw;
}

.nav-tab:hover {
    color: #1e1f26;
    background: #03dac6;
    transition: all 0.5s ease;
}

.nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #03dac6;
    transition: left 0.3s ease;
}

.background {
    position: absolute;
    height: 90vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
}

@media (min-width: 800px) {

    .nav h1,
    .slider h1 {
        font-size: 5vw;
    }

    .nav h2,
    .slider h2 {
        font-size: 20px;
    }

    .nav-tab {
        font-size: 3vw;
    }
}

.background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
    to {
        text-shadow: 20px 0 70px #7802ff;
        color: #3002ff;
    }
}

.loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
}

.loader span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
}

.loader span:nth-child(8) {
    -webkit-animation-delay: 0.7s;
}

.loader span:nth-child(9) {
    -webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
}

.loader span:nth-child(11) {
    -webkit-animation-delay: 1s;
}

.loader span:nth-child(12) {
    -webkit-animation-delay: 1.1s;
}

.loader span:nth-child(13) {
    -webkit-animation-delay: 1.2s;
}

.loader span:nth-child(14) {
    -webkit-animation-delay: 1.3s;
}

.loader span:nth-child(15) {
    -webkit-animation-delay: 1.4s;
}

.loader span:nth-child(16) {
    -webkit-animation-delay: 1.5s;
}

.loader span:nth-child(17) {
    -webkit-animation-delay: 1.6s;
}

.loader span:nth-child(18) {
    -webkit-animation-delay: 1.7s;
}

.loader span:nth-child(19) {
    -webkit-animation-delay: 1.8s;
}

.loader span:nth-child(20) {
    -webkit-animation-delay: 1.9s;
}

.loader span:nth-child(21) {
    -webkit-animation-delay: 2s;
}

.loader span:nth-child(22) {
    -webkit-animation-delay: 2.1s;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 55vh;
    --card-width: calc(var(--card-height) / 1.5);
}

.card {
    background-image: linear-gradient(rgb(0 0 0 0), rgba(0, 0, 0, 0)), url(w.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 100%);
    cursor: pointer;
    font-family: cursive;
    margin-bottom: 34px;
    z-index: 0;
}

.card:hover {
    transition: color 1s;
    background-image: url(w.png);
    color: rgb(88 199 250 / 0%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.card:hover:before,
.card:hover:after {
    animation: none;
    opacity: 0;
}


.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index:-1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

.a {
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
}   