*{
    margin: 0;
    font-family: 'Amatic SC', sans-serif; 
}
a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 380px;
} 

body{
    background-image: linear-gradient(rgb(98 98 98 / 50%), rgb(0 0 0)), url(imag.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh
}

p{
    font-size: 25px;
    padding: 13px;
    height: 146px;
    width: 100%;
}

header{ 
    height: 66px;
    font-size: 55px;
    display: flex;
    color: #fff;
    justify-content: center;
}

.navcompra{
    height: 42px;
    display: flex;
    color: #fff;
    justify-content: center;
}

.section {
    width: 100%;
    height: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    margin: 0;
    height: 90px;
    color: #ffffffa1;
    font-size: 57px;
}

h2{
    text-align: center;
    margin: 0;
    color: #ffffffa1;
    font-size: 27px;
}

h3{
    color: rgb(219 5 5);
    text-align: center;
    font-size: 30px;
}

.button{    
    background: none;
    border-radius: 7px;
    color: white;
    border: 2px solid #6e4a26;
    width: 140px;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.button:hover{
    animation: button333 1s ;
}

.button2{    
    background: none;
    border-radius: 7px;
    color: white;
    border: 2px solid #6e4a26;
    width: 140px;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 60px;
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.button2:hover{
    animation: button333 1s ;
}

.container{
    text-align: center;
    margin: 2%;
    width: 30%;
    color: #fff;
    background-image: linear-gradient(rgb(58 50 16 / 42%), rgb(47 3 4 / 0%));
}

.sectioncompra{
    display: flex;
}

@keyframes button333 {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

}
