body {
    margin: 0;
}

h1 {
    display: flex;
    margin-top: 2px;
    font-size: 58px;
    color: rgb(247, 238, 238);
    justify-content: center;
    align-items: flex-start;
}

section {
    background-image: url(fundo2.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.img-bateria {
    width: 835px;
    height: 620px;
    background-image: url(Bateria2.png);
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
}

.botaoa {
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    height: 55px;
    width: 56px;
    margin-top: 390px;
    margin-left: 73px;
    cursor: pointer;
}

.botaos {
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    height: 55px;
    width: 56px;
    margin-top: 333px;
    margin-left: 137px;
    cursor: pointer;
}

.botaod {
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    height: 55px;
    width: 56px;
    margin-top: 174px;
    cursor: pointer;
}

.botaoh {
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    height: 55px;
    width: 56px;
    user-select: none;
    margin-top: 170px;
    margin-left: 126px;
    cursor: pointer;
}

.botaoj {
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    height: 55px;
    width: 56px;
    margin-top: -98px;
    margin-bottom: 301px;
    margin-left: 288px;
    cursor: pointer;
}

.botaok {
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    height: 55px;
    width: 56px;
    margin-top: -155px;
    margin-left: 300px;
    cursor: pointer;
}

.active {
    transform: scale(1.3);
    border-color: #060606;
    box-shadow: 0 0 50px #000000;

}

@media(max-width:800px) {

    h1 {
        font-size: 35px;
    }

    .img-bateria {
        width: 334px;
        height: 233px;
    }

    .botaoa {
        margin-top: 157px;
        margin-left: 22px;
        height: 27px;
    }

    .botaos {
        margin-top: 137px;
        margin-left: 55px;
        height: 27px;
    }

    .botaod {
        margin-top: 70px;
        margin-left: 3px;
        margin-right: 62px;
        height: 27px;
    }

    .botaoh {
        margin-top: 72px;
        margin-left: -11px;
        margin-right: 111px;
        width: 23px;
    }

    .botaoj {
        margin-top: -68px;
        margin-left: 57px;
        height: 27px;
        width: 23px;
    }

    .botaok {
        margin-top: -255px;
        margin-left: 64px;
        height: 27px;
        width: 23px;
    }
}