body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: #696969;
}

section {
    border-radius: 10px;
    padding: 21px 12px 21px 21px;
    background-color: #4b4949;
    height: auto;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

input {
    margin-bottom: 6px;
    padding: 2px 0px 2px 0px;
    width: 29vw;
    height: 48px;
    font-size: medium;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: #fdfdfd;
    background-color: rgba(0, 0, 0, 0.452);
}

h1 {
    color: #fdfdfd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.botao {
    background-color: rgb(31, 31, 31);
    color: #fdfdfd;
    font-size: 31px;
    padding: 2px 25px 2px 25px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    height: 48px;
    width: 7vw;
    margin-bottom: 5px;
}

.botao:hover {
    background-color: black;
}

.botao2:hover {
    background-color: black;
}

.botao3:hover {
    background-color: black;
}

.botao2 {
    background-color: rgb(31, 31, 31);
    color: #fdfdfd;
    font-size: 31px;
    padding: 2px 25px 2px 25px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    height: 48px;
    width: 7vw;
    margin-bottom: 5px;
}

.botao3 {

    background-color: rgb(31, 31, 31);
    color: #fdfdfd;
    font-size: 30px;
    padding: 2px 25px 2px 25px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    width: 29vw;
    height: 48px;
}

#resultado {
    width: 29vw;
    border-radius: 6px;
    height: 50px;
    background-color: #fdfdfd;
    margin-bottom: 7px;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:800px) {

    section {
        margin-top: 20px;
        width: 75vw;
    }

    #resultado {
        width: 75vw;
    }

    .botao{
        width:67px;
    }

    .botao2 {
        font-size: 31px;
        padding: 0px; 
        width: 54px;
    }

    .botao3 {
        width: 269px;
    }
}